.container-affiches{
    width: 200px;
    height: 100%;
}


.affiches{
    width: 100%;
    height: 100%;
}

.d-flex{
    display: flex;
}

.mr-20px{
    margin-right: 20px;
}

.mt-20px{
    margin-top: 20px;
}

.text-align-center{
    text-align: center;
}